 /*Geral*/
        .page-header{
            text-align:center;
            border:none;
        }
        
        .container{
            height:320px;            
            border-radius:5px;            
            background:rgba(0,0,0,0.6);           

        }
        
        body{
            background:url(imagens/landscape-mountains-nature-lake.jpg);
        }
        
        
        /*########################################################################*/
        
        /*Visor*/       
        
        .resultado{
            height:50px;
            margin-bottom:15px;
            text-align:right;
            border:5px solid rgba(124,179,66,0.7);            
            color:#7CB342;
            font-weight:bold;
            font-size:30px;
        }
        
        
        
        
        /*########################################################################*/
        
        /*Botões*/   
        
        .botao{
            margin:4px;
            width:16%;
            background:rgba(0,0,0,0.0);
            color:white;
            border:none;  
            font-size:20px;
          
        } 
        
        .botao:focus{
            outline: none;
            color:white;
        }         
       
        
        .botao-igual{
            margin:5px;
            height:100px;
            position:absolute;           
            width:15%;
            background:rgba(197,225,165,0.4);
            border:none;
            color:white;
            font-size:20px;
        }  
        
         .botao-igual:focus{
            outline: none;
            color:white;
        }
        
        
        .botao-apagar{
            margin:4px;
            width:16%;
            background:rgba(0,0,0,0.0);
            color:white;
            border:none; 
            font-size:20px;
          
        }   
        
         .botao-apagar:focus{
            outline: none;
            color:white;
            margin:4px;
            width:16%;
            background:rgba(0,0,0,0.0);            
            border:none;
                    
        }
        
        
        .botao-porcentagem{
            outline: none;
            color:white;
            margin:4px;
            width:16%;
            background:rgba(0,0,0,0.0);            
            border:none;
            font-size:20px;
        }
        
        .botao-porcentagem:focus{
            outline: none;
            color:white;
        }
        
